:root {
  --body-main-color: #ffffff;
  --accent-color: #2196f3;
  --section-color: #2f303a;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #000000;
  --other-text-color: #ffffff;
  --other-bcg-color: #2196f3;
  --main-letter-spacing: 0.03em;
  --clients-logo-color: #afb1b8;
}

.body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--body-main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.section.no-padding {
  padding: 0 0;
}
.logo-link,
.nav-item-link,
.contacts-top-link,
.bottom-link,
.address-bottom-link {
  text-decoration: none;
}

.nav-item,
.property-item-list,
.work-list-item,
.team-list-item,
.address-list-item,
.buttons-list-item,
.block-list-item,
.clients-list,
.join-icon-list,
.team-list-social-block {
  list-style: none;
}

.nav-item-link:hover,
.nav-item-link:focus,
.nav-item-link:active,
.contacts-top-link:hover,
.contacts-top-link:focus,
.contacts-top-link:active,
.address-bottom-link:hover,
.address-bottom-link:focus,
.address-bottom-link:active,
.address-bottom-map:hover,
.address-bottom-map:focus,
.address-bottom-map:active {
  color: var(--accent-color);
  outline: none;
}

/*----------------хедер----------------------*/

.first-top-logo,
.second-top-logo {
  color: var(--other-bcg-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: var(--main-letter-spacing);
  text-align: left;
}

.second-top-logo {
  color: var(--third-text-color);
}

.nav-item-link {
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  font-family: inherit;
  color: var(--main-text-color);
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
}

.contacts-top-link {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
}

.header-section {
  border-bottom: 1px solid #ececec;
}

.header.container {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  margin-left: 93px;
  width: 294px;
}

.contacts-top {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-top-link.mail {
  margin-right: 50px;
}
.contacts-top-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-top-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-item-link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--other-bcg-color);
  border-radius: 2px;
}

/*----------------главный раздел----------------------*/

.hero {
  background-color: var(--section-color);

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
}

.hero-title {
  color: var(--other-text-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}

.hero-buttons {
  color: var(--other-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--other-bcg-color);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  margin-top: 30px;
  border: none;
}

/*----------------характеристики----------------------*/

.property-title {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: var(--main-letter-spacing);
  text-align: left;
  margin-bottom: 10px;
}

.property-text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--main-letter-spacing);
  text-align: left;
}

.property-title-up {
  text-transform: uppercase;
}

.visually-hidden,
.visually-hidden-portfolio {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.property.section {
  padding-top: 94px;
}

.property-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
}

.property-item-list {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-bottom: 30px;
}

.property-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

/*----------------занимаемся----------------------*/

.work.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title {
  color: var(--main-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
  margin-bottom: 50px;
}
.work-list {
  /* background-color: brown; */
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
}

.work-list-item {
  flex-basis: calc((100%-3 * 30px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.work-list-item-block > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work-list-item-block {
  position: relative;
}

.work-list-item-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);

  color: var(--other-text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}

/*----------------команда----------------------*/
.team-title {
  color: var(--main-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
  font-family: Roboto;
  margin-bottom: 50px;
}

.team-name {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
  margin-top: 30px;
}

.team-ocupation {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
  margin-top: 10px;
}
.team.section {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  border-top: 94px;
  /* background-color: brown; */
}

.team-list-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-bottom: 30px;
}

.team-list-item > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team-list-block {
  background-color: var(--body-main-color);
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-list-social-block {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.team-list-social-item {
  width: 44px;
  height: 44px;
}
.team-list-social-item + .team-list-social-item {
  margin-left: 10px;
}

.team-list-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-main-color);
  color: var(--clients-logo-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icon-link {
  fill: currentColor;
}

.team-list-social-link:hover,
.team-list-social-link:focus {
  background-color: var(--accent-color);
  color: var(--body-main-color);
  outline: none;
}

/*----------------клиенты----------------------*/

.clients.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-title {
  color: var(--main-text-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients-list-item {
  flex-basis: calc((100% - 6 * 30px) / 6);
  margin-left: 30px;
  margin-bottom: 30px;
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-logo-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-item:first-child {
  margin-left: 0;
}

.clients-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clients-logo-color);
  /* border: 1px solid var(--clients-logo-color); */

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-icon {
  fill: currentColor;
  /* border-color: currentColor; */
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
  /* border-color: var(--accent-color); */
}

.clients-list-item:hover,
.clients-list-item:focus {
  border-color: var(--accent-color);
}

/*----------------футер----------------------*/

.footer-block {
  display: flex;
}

.footer-section {
  background-color: var(--section-color);
  padding-bottom: 60px;
}

.first-bottom-logo,
.second-bottom-logo {
  color: var(--other-bcg-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: var(--main-letter-spacing);
  text-align: left;
}
.second-bottom-logo {
  color: var(--other-text-color);
}

.address-bottom-map {
  color: var(--other-text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: var(--main-letter-spacing);
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-bottom-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: var(--main-letter-spacing);
  text-align: left;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-address-footer {
  margin-top: 60px;
}

.address-bottom {
  margin-top: 20px;
}

.address-list-item:not(:first-child) {
  margin-top: 9px;
}

.join-title {
  color: var(--other-text-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-join {
  margin-left: 70px;
  margin-top: 72px;
  display: block;
  align-items: center;
}

.join-icon-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-list-item {
  width: 44px;
  height: 44px;
}

.join-list-item + .join-list-item {
  margin-left: 10px;
}

.join-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--other-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join-icon {
  fill: currentColor;
}

.join-icon-link:hover,
.join-icon-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

/* --------------------subscribe------------------------ */

.footer-form-subscribe {
  margin-left: 93px;
  margin-top: 72px;
}

.subscribe-title {
  color: var(--other-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.footer-input-mail {
  display: block;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  margin-top: 20px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--other-text-color);
}

.footer-input-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe {
  display: flex;
}

.button-subscribe-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-button-subscribe {
  width: 200px;
  height: 50px;
  margin-top: 36px;
  background-color: var(--other-bcg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--other-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px 28px;
  display: flex;
  align-items: center;
}

.footer-subscribe-icon {
  fill: var(--other-text-color);
  margin-left: 10px;
}

/* -----------------------backdrop & modal----------------------- */
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 500ms linear, opacity 500ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotatey(1turn);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 600px;
  background-color: var(--body-main-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  left: 50%;
  top: 50%;
  transition: transform 500ms linear;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}
.modal-close:hover {
  color: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form-title {
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-form {
  margin-top: 12px;
}

.modal-form-block + .modal-form-block {
  margin-top: 10px;
}
.modal-form-name {
  color: var(--second-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}
.modal-form-input {
  position: relative;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus-within {
  color: var(--accent-color);
}
.customer-input {
  margin-top: 4px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
  color: var(--main-text-color);
}

.customer-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.customer-input.comment {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.customer-input.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
}

.modal-check-policy {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.modal-check-title {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-label {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-icon {
  fill: var(--other-text-color);
}
.policy-contract {
  color: var(--accent-color);
}

.modal-checkbox:focus + .checkbox-label {
  width: 16px;
  height: 15px;
  border: 2px solid var(--accent-color);
}

.modal-checkbox:checked + .checkbox-label {
  background-color: var(--accent-color);
  border: none;
}

.modal-button-submit {
  margin-top: 30px;
  min-width: 200px;
  min-height: 50px;
  background-color: var(--other-bcg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--other-text-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*----------------портфолио----------------------*/

.potrfolio-buttons {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.potrfolio-buttons:hover,
.potrfolio-buttons:focus,
.potrfolio-buttons:active {
  color: var(--other-text-color);
  background-color: var(--other-bcg-color);
  outline: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter-title {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.filter-item {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: var(--main-letter-spacing);
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.buttons-list-item {
  margin-right: 8px;
}

.buttons-list-item:last-child {
  margin-right: 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -30px;
  margin-bottom: -30px;
}

.block-list-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.filter-hover-block > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-shadow:hover {
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.border-item {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.filter-hover-block {
  position: relative;
  overflow: hidden;
}

.filter-hover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  color: var(--other-text-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
}

.block-list-item:hover .filter-hover-text,
.block-list-item:focus .filter-hover-text {
  transform: translateY(0);
}
