h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.logo__link,
.nav-list__link,
.contacts-top__link,
.contacts-list__link {
  text-decoration: none;
}

.nav-list,
.property-list,
.work-list,
.team-list,
.social-list,
.clients-list,
.filter-list,
.cards-list,
.contacts-list,
.join-list {
  list-style: none;
}

.nav-list__link:hover,
.nav-list__link:focus,
.nav-list__link:active,
.contacts-top__link:hover,
.contacts-top__link:focus,
.contacts-top__link:active,
.contacts-list__link:hover,
.contacts-list__link:focus,
.contacts-list__link:active,
.contacts-list__map:hover,
.contacts-list__map:focus,
.contacts-list__map:active {
  color: var(--accent-color);
}
